<div class="sidebar" data-background-color="light">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="grey">
            <a href="index.html" class="logo">
                <img
                    src="/img/Telkom.png"
                    alt="navbar brand"
                    class="navbar-brand"
                    height="40"
                />
            </a>

            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left-dark"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>

    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li
                    class="nav-item {{ request()->is('admin/home') ? 'active' : 'inactive' }}"
                >
                    <a
                        href="{{ route('admin.dashboard') }}"
                        class="collapsed"
                        aria-expanded="false"
                    >
                        <i class="fas fa-home"></i>
                        <p>Home</p>
                    </a>
                </li>

                <!-- Menu -->
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Menu</h4>
                </li>
                <!-- end menu -->

                <li
                    class="nav-item {{ request()->is('admin/intern') ? 'active' : 'inactive' }}"
                >
                    <a
                        href="{{ route('admin.intern') }}"
                        class="collapsed"
                        aria-expanded="false"
                    >
                        <i class="fas fa-user-friends"></i>
                        <p>Data Master</p>
                    </a>
                </li>

                <li
                    class="nav-item {{ request()->is('admin/intern') ? 'active' : 'inactive' }}"
                >
                    <a
                        href="{{ route('admin.office') }}"
                        class="collapsed"
                        aria-expanded="false"
                    >
                        <i class="fas fa-user-friends"></i>
                        <p>Peserta Magang</p>
                    </a>
                </li>

                <li
                    class="nav-item {{ request()->is('admin/intern') ? 'active' : 'inactive' }}"
                >
                    <a
                        href="{{ route('admin.absensi') }}"
                        class="collapsed"
                        aria-expanded="false"
                    >
                        <i class="fas fa-user-friends"></i>
                        <p>Absensi</p>
                    </a>
                </li>
                <li
                    class="nav-item {{ request()->is('admin/intern') ? 'active' : 'inactive' }}"
                >
                    <a
                        href="{{ route('admin.office') }}"
                        class="collapsed"
                        aria-expanded="false"
                    >
                        <i class="fas fa-user-friends"></i>
                        <p>Kantor</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#base">
                        <i class="fas fa-layer-group"></i>
                        <p>Presensi</p>
                        <span class="caret"></span>
                    </a>

                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            {{--
                            <li>
                                <a href="{{ route('admin.today') }}">
                                    <span class="sub-item">Hari Ini</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ route('admin.history') }}">
                                    <span class="sub-item">Riwayat</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ route('admin.summary') }}">
                                    <span class="sub-item">Ringkasan</span>
                                </a>
                            </li>
                            --}}
                        </ul>
                    </div>
                </li>

                {{--
                <li
                    class="nav-item {{ request()->is('admin/document') ? 'active' : 'inactive' }}"
                >
                    <a
                        href="{{ route('admin.document') }}"
                        class="collapsed"
                        aria-expanded="false"
                    >
                        <i class="fas fa-file-signature"></i>
                        <p>Dokumen</p>
                    </a>
                </li>
                --}}

                <!-- Menu -->
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Lainnya</h4>
                </li>
                <!-- end menu -->
                {{--
                <li
                    class="nav-item {{ request()->is('admin/setting') ? 'active' : 'inactive' }}"
                >
                    <a
                        href="{{ route('admin.setting') }}"
                        class="collapsed"
                        aria-expanded="false"
                    >
                        <i class="fas fa-cog"></i>
                        <p>Pengaturan</p>
                    </a>
                </li>
                --}} {{--
                <li
                    class="nav-item {{ request()->is('admin/help') ? 'active' : 'inactive' }}"
                >
                    <a
                        href="{{ route('admin.help') }}"
                        class="collapsed"
                        aria-expanded="false"
                    >
                        <i class="fas fa-question-circle"></i>
                        <p>Bantuan</p>
                    </a>
                </li>
                --}}
            </ul>
        </div>
    </div>
</div>
